<div class="mainWrap col-md-4 col-lg-4 col-sm-12 float-left">

    <h1>Crea un nuevo PreTexto!</h1>

    <form action="/" method="post">
        <div class="form-group">
            <input id="preTextKey" type="text" placeholder="Nombra tu PreTexto" name="preTextKey" class="form-control">
            <br>
            <textarea id="preTextContent" type="text" placeholder="Escribe tu PreTexto" name="preTextContent" class="contentInput form-control" rows="6"></textarea>
            <br>
            <button id="newPretext" type="submit" class="btn btn-primary btn-lg btn-block">Guardar PreTexto</button>
        </div>        
    </form>

</div>