<div>
    <h1>Escribe tu Obra Maestra!</h1>
    <form action="/" method="post">
        <textarea type="text" 
placeholder="Este es el Editor de Texto! Una vez que tengas un PreTexto guardado, escribe su Nombre aquí para reemplazarlo." 
class="contentInput form-control col-md-4 col-sm-8" 
rows="8"></textarea>
<button id="addToEssay" type="submit" class="btn btn-primary btn-lg btn-block">Agregar a Ensayo</button>
    </form>
</div>